p {
    font-weight: 300;
    margin-top: 1rem;
    line-height: 1.2rem;
}

 h2 {
    color: orange;
     max-width: 1200px;
     margin: 0 auto;
    padding-top: 0;
     line-height: 4rem;
}

h3 {
    margin-top: 2rem;
    line-height: 1rem;
    letter-spacing: 0.05rem;
}

img {display: block;}

video {
    display: block;
    width:100%;
    max-width: 50vw;
    margin:2rem auto;
    box-shadow: 1px 1px 5px #00000082;
}

ul {
    font-size: 0.8rem;
    line-height: 1.7rem;
    margin-top: 0.7rem;
}

/* ---- sektion 1 ------ */
#section_one {
    background-image: url(img/UX_splash.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    top: 100px;
    left: 100px;
    transform: rotate(-8deg);
    text-shadow: 1px 1px 4px #00000025;
    line-height: 3rem;
    background-color: #f9f9f9f7;
    border-radius: 100rem;
    max-width: 270px;
    max-height: 230px;
    height: 100%;
    padding: 7rem 2.5rem 0rem 2.5rem;
    box-shadow: 1px 1px 8px #00000015;
    border: 2px solid orange;
}

h1 b {
    font-size: 3rem;
}

/* ------ sektion 2 ------ */

#section_two {
    background-color: #262626;
    color: white;
    padding-top: 4rem;
}

 #main .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
    padding: 0 0 3rem 0;
}

#section_two h2 {
    color: orange;
}

/* ----- sekton 3 ------- */

#section_three {
    background-color: #f3f3f3;
    padding-top: 4rem;
}
#section_three .image_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#section_three .container {
    border-bottom: 2px solid lightgrey;
    padding: 2rem 0 2rem 0;
}

#section_three a {
    border: 2px solid black;
    color: black;
    display: block;
    max-width: 200px;
    padding: 0.5rem;
    text-align: center;
    margin-top: 2rem;
}


/* ------- sektion 4 ----- */

#section_four {
    background-color: white;
    color: black;
    padding-top: 4rem;
}



/* ------- sektion 5 ------ */

#section_five {
    background-color: black;
    color: white;
    padding-top: 4rem;
}

#section_five img {
    margin: 1rem 0 0 0;
}

#section_five h4 {
    color: orange;
    position: relative;
    bottom: 32px;
    right: -10px;
    text-align: right;
    transform: rotate(5deg);
    letter-spacing: 0.03rem;
}

/* ------- sektion 6 -------- */
#section_six {
    background-color: orange;
    color: white;
    padding-top: 4rem;
}

#main .container.done {
    display:block;
}

#section_six h2 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px #0000001f;
}
#section_six a {
    border: 2px solid black;
    color: black;
    display: block;
    max-width: 200px;
    margin: 2rem auto;
    padding: 0.5rem;
    text-align: center;
}


