h2 {
    font-size: 2rem;
}
/* --- section 1 ------- */

h1 {
    font-size: 3rem;
}

#section_one {
   background-image: url("img/bg_back.jpg");
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#section_one h2 {
    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 0rem;
    color: black;
}



#front_container {
    position: relative;
    height: 100vh;
    bottom: 0px;
}

#bg_front {
    background-image: url("img/bg_for_new.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: absolute;
    filter: contrast(1.1);
}


#h1_container {
    text-transform: uppercase;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    top: 20vh;

}

.fixed {
    position: fixed;
}

.fixed_bg {
    background-attachment: fixed;

}
.absolute{
    position: absolute;
}

.absolute_bg{
    background-attachment: inherit;
    background-position: 0 110px;
    top: 0px;
}

/*----- section 2 ----- */

#section_two {
    background-color: #020000;
    height: auto;
    text-align: center;
    color: white;
    display: block;
    margin-top: 0;
}

#section_two p {
    margin: 1rem 0 1rem 0;
}

#section_two img {
    max-width: 180px;
    margin-top: 1.5rem;
    box-shadow: 2px 3px 5px #00000069;
    border-radius: 10rem;
}

#section_two h2 {
    color: orange;
    top: 10px;
    position: relative;
    font-size: 2rem;
}

p.overskrift {
    font-weight: 600;
    color: white;
    line-height: 2rem;
    margin-bottom: 5rem;
}

#section_two .container {
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 2rem;
}




#section_two a {
    border: 1px solid orange;
    color: orange;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 0.5rem 2rem 0.5rem 2rem;
    max-width: 210px;
    margin: 2rem auto;
}

#section_two a:hover + .knap_bg {
    visibility: visible;
    height: 160%;
}

#section_two a:hover {
    color: black;
    transition: all 0.3s ease-in-out;
}

#section_two .knap {
    position: relative;
    margin: 2rem auto;
    max-width: 149px;

}
#section_two .knap_bg {
    position: absolute;
    width: 215px;
    height: 0;
    bottom: -0.5rem;
    left: 0;
    background-color: orange;
   visibility: hidden;
    transition: all 0.3s ease-in-out;
    max-width: 148px;
}




.ommig {
   background-color: #2d2c2c;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-bottom: 5rem;
    border-bottom: 10px solid orange
}





/* ----  section 3 -----*/
#section_three{
    background-color: #f3f3f3;
    padding: 5rem 1rem 2rem 1rem;
}


#section_three h2 {
    color: orange;
    text-align: center;
    margin-bottom: 7rem;
}

#section_three a {
    margin: 0;
}

.port {
    margin-bottom: 7rem;
    position: relative;
    background-color: white;
    box-shadow: 1px 2px 4px #00000010;
    padding: 1rem 1rem 4rem 1rem;
}

.port h3 {
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 2rem;
    position: absolute;
    bottom: -35px;
    color: orange;
    left: 28%;
    z-index: 2;
    text-align: center;
    font-weight: 600;
    transform: rotate(-5deg);
}

.port b {
    font-size: 3rem;
    font-weight: 800;
    text-shadow: 1px 1px 2px #00000020;
}

.number {
    position: absolute;
    color: orange;
    font-size: 4rem;
    font-weight: 800;
    top: -80px;
    left: 10px;
    z-index: 1;
}

.port img {
    display: block;
    filter:grayscale(0.9);
}

.port.animation b, .port.indhold b {
    font-size: 2rem;
    line-height: 1.7rem;
}

.animation h3 {
    left: 20%;
    bottom: -30px;
}
 .indhold h3 {
    left: 28%;
    bottom: -30px;
}

.port:hover img {
    filter: none;
    transition: 0.5s ease-in-out;
}

.port:hover h3 {
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction:alternate-reverse;
    animation-timing-function:linear;
}

@keyframes rotate {
    from {transform: rotate(2deg);}

    to {transform: rotate(-5deg);}
}

/* ----- section 4 ----- */

#section_four{
    background-color: orange;
    color: white;
    text-align: center;
    padding: 4rem 1rem 4rem 1rem;
}


#section_four p {
    font-weight: 400;
}

#section_four a {
    border: 2px solid black;
    color: black;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 0.5rem 2rem 0.5rem 2rem;
    max-width: 209px;
    margin: 2rem auto;
}

#section_four a:hover + .knap_bg {
    visibility: visible;
    height: 160%;
}

#section_four a:hover {
    color: lightgrey;
    transition: all 0.3s ease-in-out;
}

#section_four .knap {
    position: relative;
    margin: 2rem auto;
    max-width: 122px;

}
#section_four .knap_bg {
    position: absolute;
    width: 215px;
    height: 0;
    bottom: -0.5rem;
    left: 0;
    background-color: #191919;
   visibility: hidden;
    transition: all 0.3s ease-in-out;
    max-width: 121px;
}

@media only screen and (min-width:600px) {

    .port.animation b, .port.indhold b {
    font-size: 3.8rem;
    line-height: 1.7rem;
}

    #section_three .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
}
    .port b {
    font-size: 4.5rem;
    font-weight: 800;
    text-shadow: 1px 1px 2px #00000020;
}
    h2 {
        font-size: 3rem;
    }

    .port h3 {
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 2.5rem;
    position: absolute;
    color: orange;
    z-index: 2;
    text-align: center;
    font-weight: 600;
    transform: rotate(-5deg);
        bottom: -35px;
        left: 33%;
}

.animation h3 {
    left: 17%;
    bottom: -30px;
}
 .indhold h3 {
    left: 28%;
    bottom: -30px;
}

    #section_one h2 {
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 0rem;
        color: black;
}
    #section_two h2 {
    color: orange;
    top: 10px;
    position: relative;
    font-size: 3.7rem;
}
    h1 {
        font-size: 5.5rem;
    }

    #section_one {
   background-image: url("img/bg_back.jpg");
    height: 120vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
    #front_container {
    position: relative;
    height: 120vh;
    bottom: 0px;
}
    #bg_front {
    background-image: url("img/bg_for_new.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100%;
    position: absolute;
    filter: contrast(1.1);
}
    #h1_container {
    text-transform: uppercase;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    top: 30vh;

}
}
