* {
    padding: 0;
    margin: 0;
}

body {
    height: 1000px;
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 1rem 0 0.5rem 0;
    position: fixed;
    top:0;
    width: 100%;
    background-color: #090807bd;
    z-index: 3;
    box-shadow: 1px 1px 5px #090807bd;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content:flex-end;

}
h1 {
    font-weight: 800;
    color: orange;
    letter-spacing: -1px;
    line-height: 3rem;
    text-transform: uppercase;
}

h2 {
text-transform: uppercase;
    letter-spacing: 0.05rem;
    padding-top: 2rem;
    font-size: 2.8rem;
    line-height: 2rem;
}

p {
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    margin-top: 2rem
}

p.overskrift {
    font-weight: 600;
}

a {
    text-decoration: none;
    letter-spacing: 0.05rem;
    font-weight: 200;
}

nav a {
    color: white;
    margin-left: 2rem;
    position: relative;
}

a.linkedin {
        filter: hue-rotate(-20deg);
}
a.linkedin img {
    max-width: 1.6rem;
}


img {
    width: 100%;
    height: auto;
}


/* footer */
footer {
    text-align: center;
    background-color: #191919;
    color: white;
    padding: 3rem 0 3rem 0;
    box-shadow: 1px -2px 10px #00000020;
}

footer p {
    margin: 0;
    line-height: 2rem;
    font-size: 0.6rem;
}

footer hr {
    max-width: 200px;
margin: 0 auto;
    border-color: white;
}

@media (max-width: 767px) {
	.hide_on_mobile {
		display: none
	}

	a.online_button {
		color: #000;
		background: none;
		padding: 1rem 0;
	}

	.on {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: #131212f5;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		text-align: right;
	}

	nav a {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
    #burgermenu {
	background: none;
	color: orange;
	border: none;
	width: 3rem;
	height: 3rem;
        float: right;
        align-items: center;
}

a.online_button {
	color: #fff;
	font-size: 0.9rem;
	border-radius: 1.5rem;
	background-color: #697654;
	border: none;
	cursor: pointer;
	padding: 1rem;
}


a:hover.online_button {
	color: #d4dbce;
}
    }


/* Navigation Ipad bredformat + desktop */

@media (min-width: 768px) {
	.hide_on_desktop {
		display: none;
	}

	.nav {
		writing-mode: horizontal-tb;
		transform: none;
		text-align: center;
		flex-direction: row;
		position: relative;
	}

	nav a {
		margin-left: 2rem;
	}
    a.hover-streg:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: orange;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.hover-streg:hover:before {
    visibility: visible;
    width: 100%;
}
    a.linkedin {
    max-width: 1.6rem;
        filter: hue-rotate(-20deg);
    margin-right: 1rem;
}
a.linkedin:hover {
    opacity: 0.7;
}
    footer p {
    margin: 0;
    line-height: 3rem;
        font-size: 0.8rem;
}
}
