p {
    font-weight: 300;
    margin-top: 1rem;
    line-height: 1.2rem;
}

h2 {
    color: orange;
     max-width: 1200px;
     margin: 0 auto;
    padding: 1rem 1rem 0 1rem;
     line-height: 2rem;
     font-size: 2rem;
}


h3 {
    margin-top: 2rem;
    line-height: 1rem;
    letter-spacing: 0.05rem;
}

#main img {display: block;
margin-top: 1rem;}

video {
    display: block;
    width:100%;
    max-width: 50vw;
    margin:2rem auto;
    box-shadow: 1px 1px 5px #00000082;
}

ul {
    font-size: 0.8rem;
    line-height: 1.7rem;
    margin-top: 0.7rem;
}

/* ---- sektion 1 ------ */
#section_one {
    background-image: url(img/UX_splash.jpg);
    height: 35vh;
    background-position:top;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: 60px;
    left: 20px;
    transform: rotate(-8deg);
    text-shadow: 1px 1px 4px #00000025;
    line-height: 2rem;
    background-color: #f9f9f9f7;
    border-radius: 100rem;
    max-width: 270px;
    max-height: 120px;
    height: 100%;
    padding: 3.5rem 1.5rem 0.5rem 1.5rem;
    box-shadow: 1px 1px 8px #00000015;
    border: 2px solid orange;
}

h1 b {
    font-size: 4rem;
}

/* ------ sektion 2 ------ */

#section_two {
    background-color: #262626;
    color: white;
    padding-top: 4rem;
}

 #main .container {
    padding: 1rem 1rem 3rem 1rem;
}

#section_two h2 {
    color: orange;
}

/* ----- sekton 3 ------- */

#section_three {
    background-color: #f3f3f3;
    padding-top: 4rem;
}
#section_three .image_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#section_three .container {
    border-bottom: 2px solid lightgrey;
}

#section_three a {
    border: 2px solid black;
    color: black;
    display: block;
    max-width: 200px;
    padding: 0.5rem;
    text-align: center;
    margin-top: 2rem;
}


/* ------- sektion 4 ----- */

#section_four {
    background-color: white;
    color: black;
    padding-top: 4rem;
}



/* ------- sektion 5 ------ */

#section_five {
    background-color: black;
    color: white;
    padding-top: 4rem;
}

#section_five img {
    margin: 1rem 0 0 0;
}

#section_five h4 {
    color: orange;
    position: relative;
    bottom: 32px;
    right: -10px;
    text-align: right;
    transform: rotate(5deg);
    letter-spacing: 0.03rem;
}

/* ------- sektion 6 -------- */
#section_six {
    background-color: orange;
    color: white;
    padding-top: 4rem;
}

#main .container.done {
    display:block;
}

#section_six h2 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px #0000001f;
}
#section_six a {
    border: 2px solid black;
    color: black;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 0.5rem;
    max-width: 200px;
    margin: 2rem auto;
}

.knap {
    position: relative;
    margin: 2rem auto;
    max-width: 125px;

}
.knap_bg {
    position: absolute;
    width: 209px;
    height: 0;
    bottom: -0.5rem;
    left: 0;
    background-color: #191919;
   visibility: hidden;
    transition: all 0.3s ease-in-out;
    max-width: 124px;
}

#section_six a:hover + .knap_bg {
    visibility: visible;
    height: 160%;
}

#section_six a:hover {
    color: lightgrey;
    transition: all 0.3s ease-in-out;
}

.iframe {
    margin: 2rem auto;
    max-width: 375px;
}

@media only screen and (min-width:600px) {

    h2 {
        font-size: 3rem;
    }

     #main .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
}

    #section_one {
    background-image: url(img/UX_splash.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

    h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    top: 100px;
    left: 100px;
    transform: rotate(-8deg);
    text-shadow: 1px 1px 4px #00000025;
    line-height: 3.5rem;
    background-color: #f9f9f9f7;
    border-radius: 100rem;
    max-width: 270px;
    max-height: 230px;
    height: 100%;
    padding: 6rem 3.5rem 0rem 3.5rem;
    box-shadow: 1px 1px 8px #00000015;
    border: 2px solid orange;
}

h1 b {
    font-size: 6rem;
}

}


